/**
 * Titles
 */

.release-date {
    font-weight: bold;
}

ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

/**
 * Controls
 */

input[type=radio] {
    margin: 0;
}

label {
    margin-left: 10px;
}

input[type=radio], label {
    display: inline-flex;
}

.ruleset-generator {
    display: inline-flex;
    margin-top: 10px;
    width: 100%;
}

#history {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

#generator-section {
    display: none;
}

.important {
    background-color: #fbdcdc;
    border: 2px solid red;
    border-radius: 5px;
    color: #555;
}
